.weather {
  max-width: 1200px;
  margin: 30px auto;
}

h1 {
    color: #8c8b89;
    color: #8c8b89;
    text-align: center;
    padding: 10px 0 0 0;
  }
  
  body {
    font-family: "Space Mono", monospace;
  }

  .exact-temperature {
    color: #8c8b89;
    text-align: center;
    margin-bottom: -1.5rem;
  }
  .live {
    color: #8c8b89;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  .footer {
    text-align: center;
    display: block;
    margin: 0 auto;
      } 


  
  
  .location {
    color: #8fc351;
    font-size: 30px;
    text-align: center;
  }
  
  .search {
    border-color: #8fc351;
    background: transparent;
    border-radius: 10px;
    padding: 5px;
    border-style: solid;
  }
  
  .container {
    border: 2px solid #8fc351;
    border-radius: 10px;
    padding: 40px;
  }
  
  .enter {
    padding: 20px;
  }
  
  .weather {
    padding: 40px;
  }
  
  

  #exactLocation {
    cursor: pointer;
    color: #8fc351;
  }

  .units {
    position: relative;
    top: -45px;
    right: -60px;

  }

  .liveTime {
    color:#8c8b89;
    margin-left: 22px;

  }

  .units {
    cursor: pointer;
    color:#8fc351;
  }

  .units .active:hover {
    text-decoration: none;
  }
  

 .units .active {
    color:#8c8b89;
    cursor: default;
  }


  .weather-forecast {
    margin-top: 20px;
    text-align: center;
  }

  .weather-forecast-date {
    color: #8c8b89;
  }

  .weather-forecast-temperatures {
    font-size: 14px;
  }

  .weather-forecast-temperature-maximum {
    color: #8c8b89;
    font-weight: bold;
  }

  .weather-forecast-temperature-minimum {
    color: #8fc351;
  }